@page
@model SimpleVueApp.IndexModel
@{
}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<h3>@Model.Heading</h3>
<div id="app"></div>
<script src="~/js/index.js"></script>
